.Support/Tools/PlanetUnity2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:planet="http://schema.smallplanet.com/PlanetUnity2"
    targetNamespace="http://schema.smallplanet.com/PlanetUnity2">

	<!-- Type declarations for custom classes -->
	<simpleType name="color">
		<annotation>
			<appinfo>Color</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec2">
		<annotation>
			<appinfo>Vector2</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec3">
		<annotation>
			<appinfo>Vector3</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="vec4">
		<annotation>
			<appinfo>Vector4</appinfo>
		</annotation>
        <restriction base="string" />
    </simpleType>

	<simpleType name="PlanetNotification">
		<annotation>
			<appinfo>TYPEDEF</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "UserStringInput"/>
			<enumeration value = "UserCharInput"/>
			<enumeration value = "UserInputCancelled"/>
			
			<enumeration value = "ButtonTouchDown"/>
			<enumeration value = "ButtonTouchUp"/>
			
			<enumeration value = "EventWithUnregisteredCollider"/>
			<enumeration value = "EventWithNoCollider"/>
			
			<enumeration value = "EditorFileDidChange"/>
		</restriction>
    </simpleType>
	
	<!-- Super Classes -->

	<element name="Object" type="planet:Object" />
	<complexType name="Object">
		<sequence>
			<any minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="title" type="string" />
		<attribute name="tag" type="string" use="optional" />
		<attribute name="tag1" type="string" use="optional" />
		<attribute name="tag2" type="string" use="optional" />
		<attribute name="tag3" type="string" use="optional" />
		<attribute name="tag4" type="string" use="optional" />
		<attribute name="tag5" type="string" use="optional" />
		<attribute name="tag6" type="string" use="optional" />
	</complexType>

	<element name="GameObject" type="planet:GameObject"/>
	<complexType name="GameObject">
		<complexContent>
			<extension base="planet:Object">
				<attribute name="bounds" type="planet:vec4" use="optional" />
				<attribute name="position" type="planet:vec3" use="optional" default="0,0,0" />
				<attribute name="size" type="planet:vec2" use="optional" default="0,0" />
				<attribute name="rotation" type="planet:vec3" use="optional" default="0,0,0" />
				<attribute name="scale" type="planet:vec3" use="optional" default="1,1,1" />
				
				<attribute name="pivot" type="planet:vec2" use="optional" default="0,0" />
				<attribute name="anchor" type="string" use="optional" default="bottom,left"/>
				
				<attribute name="active" type="boolean" use="optional" default="true" />
				<attribute name="mask" type="boolean" use="optional" />
				<attribute name="maskInset" type="planet:vec4" use="optional" />
				<attribute name="outline" type="boolean" use="optional" />
				<attribute name="lastY" type="float" use="optional" />
		        <attribute name="lastX" type="float" use="optional" />
		
				<attribute name="shader" type="string" use="optional" />
				<attribute name="ignoreMouse" type="boolean" use="optional" />
				
				<attribute name="components" type="string" use="optional" />
				
			</extension>
		</complexContent>
	</complexType>

	<!-- Ghost Entities -->

	<!-- Entities -->


	<simpleType name="CanvasRenderMode">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "ScreenSpaceOverlay"/>
			<enumeration value = "ScreenSpaceCamera"/>
			<enumeration value = "WorldSpace"/>
		</restriction>
    </simpleType>

	<element name="Canvas" type="planet:Canvas"/>
	<complexType name="Canvas" >
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="renderMode" type="planet:CanvasRenderMode" use="optional" default="ScreenSpaceOverlay" />
				<attribute name="pixelPerfect" type="boolean" use="optional" default="false" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Switcher" type="planet:Switcher"/>
	<complexType name="Switcher">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="currentIndex" type="int" use="optional" default="0" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Color" type="planet:Color"/>
	<complexType name="Color">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="color" type="planet:color" use="required" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ColorButton" type="planet:ColorButton"/>
	<complexType name="ColorButton">
		<complexContent>
			<extension base="planet:Color">
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ClearButton" type="planet:ClearButton"/>
	<complexType name="ClearButton">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="RawImage" type="planet:RawImage"/>
	<complexType name="RawImage">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="color" type="planet:color" use="optional" />
				<attribute name="uvRect" type="planet:vec4" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	
	
	<simpleType name="ImageType">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "simple"/>
			<enumeration value = "filled"/>
			<enumeration value = "sliced"/>
			<enumeration value = "tiled"/>
		</restriction>
    </simpleType>

	<element name="Image" type="planet:Image"/>
	<complexType name="Image">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="color" type="planet:color" use="optional" />
				<attribute name="type" type="planet:ImageType" use="optional" id="GAXBIgnoreConstructor" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ImageButton" type="planet:ImageButton"/>
	<complexType name="ImageButton">
		<complexContent>
			<extension base="planet:Image">
				<attribute name="pressedResourcePath" type="string" use="required" />
				<attribute name="highlightedResourcePath" type="string" use="required" />
				<attribute name="disabledResourcePath" type="string" use="required" />
				<attribute name="onTouchUp" type="string" use="optional" />
				<attribute name="onTouchDown" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="ScrollRect" type="planet:ScrollRect"/>
	<complexType name="ScrollRect">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="inertia" type="boolean" use="optional" default="true" />
				<attribute name="horizontal" type="boolean" use="optional" default="false" />
				<attribute name="vertical" type="boolean" use="optional" default="true" />
				<attribute name="scrollWheelSensitivity" type="float" use="optional" default="0" />
			</extension>
		</complexContent>
	</complexType>
	
	
	<!-- ***** Text ***** -->
	
	<simpleType name="TextAlignment">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "upperLeft"/>
			<enumeration value = "upperCenter"/>
			<enumeration value = "upperRight"/>
			<enumeration value = "middleLeft"/>
			<enumeration value = "middleCenter"/>
			<enumeration value = "middleRight"/>
			<enumeration value = "lowerLeft"/>
			<enumeration value = "lowerCenter"/>
			<enumeration value = "lowerRight"/>
		</restriction>
    </simpleType>

	<simpleType name="FontStyle">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "normal"/>
			<enumeration value = "bold"/>
			<enumeration value = "italic"/>
			<enumeration value = "boldAndItalic"/>
		</restriction>
    </simpleType>

	<simpleType name="TextOverflowHorizontal">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "wrap"/>
			<enumeration value = "overflow"/>
		</restriction>
    </simpleType>

	<simpleType name="TextOverflowVertical">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "truncate"/>
			<enumeration value = "overflow"/>
		</restriction>
    </simpleType>
	
	<element name="Text" type="planet:Text" />
	<complexType name="Text">
		<complexContent>
			<extension base="planet:GameObject">
			
				<attribute name="font" type="string" use="optional" />
				<attribute name="fontSize" type="int" use="optional" default="12" />
				<attribute name="fontStyle" type="planet:FontStyle" use="optional" />
				<attribute name="fontColor" type="planet:color" use="optional" default="0,0,0,1" />
				
				<attribute name="lineSpacing" type="float" use="optional" />
				
				<attribute name="alignment" type="planet:TextAlignment" use="optional" default="middleCenter"/>
				
				<attribute name="value" type="string" use="required" />
				<attribute name="bestFit" type="boolean" use="optional" />
				
				<attribute name="onLinkClick" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="TextButton" type="planet:TextButton" />
	<complexType name="TextButton">
		<complexContent>
			<extension base="planet:Text">
				<attribute name="onTouchUp" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	
	
	
	<simpleType name="InputFieldContentType">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "standard"/>
			<enumeration value = "autocorrected"/>
			<enumeration value = "integer"/>
			<enumeration value = "number"/>
			<enumeration value = "alphanumeric"/>
			<enumeration value = "name"/>
			<enumeration value = "email"/>
			<enumeration value = "password"/>
			<enumeration value = "pin"/>
			<enumeration value = "custom"/>
		</restriction>
    </simpleType>

	<simpleType name="InputFieldLineType">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "single"/>
			<enumeration value = "multiSubmit"/>
			<enumeration value = "multiNewline"/>
		</restriction>
    </simpleType>
	
	<element name="InputField" type="planet:InputField" />
	<complexType name="InputField">
		<complexContent>
			<extension base="planet:Text">
				<attribute name="onValueChanged" type="string" use="optional" />
				<attribute name="placeholder" type="string" use="optional" />
				<attribute name="limit" type="int" use="optional" />
				<attribute name="contentType" type="planet:InputFieldContentType" use="optional" />
				<attribute name="lineType" type="planet:InputFieldLineType" use="optional" />
				<attribute name="selectionColor" type="planet:color" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	
	
	
	<simpleType name="SliderDirection">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "LeftToRight"/>
			<enumeration value = "RightToLeft"/>
			<enumeration value = "BottomToTop"/>
			<enumeration value = "TopToBottom"/>
		</restriction>
    </simpleType>
	
	<element name="Slider" type="planet:Slider" />
	<complexType name="Slider">
		<complexContent>
			<extension base="planet:Image">
				<attribute name="handleResourcePath" type="string" use="optional" />
				<attribute name="handleSize" type="planet:vec2" use="optional" default="32,32" />
				
			   	<attribute name="fillResourcePath" type="string" use="optional" /> 
				
				<attribute name="onValueChanged" type="string" use="optional" />
				
				<attribute name="minValue" type="float" use="optional" default="0" />
				<attribute name="maxValue" type="float" use="optional" default="1" />
				
				<attribute name="direction" type="planet:SliderDirection" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<!-- ***************************************************************************************** -->
	
	
	
	<!-- ***** Layout Groups ***** -->
	
	<simpleType name="GridLayoutStartCorner">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "upperLeft"/>
			<enumeration value = "upperRight"/>
			<enumeration value = "lowerLeft"/>
			<enumeration value = "lowerRight"/>
		</restriction>
    </simpleType>
		
	<simpleType name="GridLayoutStartAxis">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "horizontal"/>
			<enumeration value = "vertical"/>
		</restriction>
    </simpleType>
	
	<simpleType name="GridLayoutChildAlignment">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
        <restriction base="string">
			<enumeration value = "upperLeft"/>
			<enumeration value = "upperCenter"/>
			<enumeration value = "upperRight"/>
			<enumeration value = "middleLeft"/>
			<enumeration value = "middleCenter"/>
			<enumeration value = "middleRight"/>
			<enumeration value = "lowerLeft"/>
			<enumeration value = "lowerCenter"/>
			<enumeration value = "lowerRight"/>
		</restriction>
    </simpleType>
	
	<element name="GridLayoutGroup" type="planet:GridLayoutGroup"/>
	<complexType name="GridLayoutGroup">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="cellSize" type="planet:vec2" use="optional" default="100,100" />
				<attribute name="spacing" type="planet:vec2" use="optional" default="0,0" />
				<attribute name="startCorner" type="planet:GridLayoutStartCorner" use="optional" />
				<attribute name="startAxis" type="planet:GridLayoutStartAxis" use="optional" />
				<attribute name="childAlignment" type="planet:GridLayoutChildAlignment" use="optional" />
				<attribute name="fixedRows" type="int" use="optional" />
				<attribute name="fixedColumns" type="int" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="VerticalLayoutGroup" type="planet:VerticalLayoutGroup"/>
	<complexType name="VerticalLayoutGroup">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="spacing" type="float" use="optional" default="0" />
				<attribute name="padding" type="planet:vec4" use="optional" default="0,0,0,0" />
				<attribute name="childAlignment" type="planet:GridLayoutChildAlignment" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="HorizontalLayoutGroup" type="planet:HorizontalLayoutGroup"/>
	<complexType name="HorizontalLayoutGroup">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="spacing" type="float" use="optional" default="0" />
				<attribute name="padding" type="planet:vec4" use="optional" default="0,0,0,0" />
				<attribute name="childAlignment" type="planet:GridLayoutChildAlignment" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<!-- ***************************************************************************************** -->
	
	
	<element name="Notification" type="planet:Notification" />
	<complexType name="Notification">
		<attribute name="name" type="string" use="required" />
	</complexType>
	
	
	<element name="Code" type="planet:Code" />
	<complexType name="Code">
		<complexContent>
			<extension base="planet:GameObject">
				<sequence>
					<element ref="planet:Notification" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="class" type="string" use="required" />
				<attribute name="singleton" type="boolean" use="optional" default="false" />
			</extension>
		</complexContent>
	</complexType>
	
	
	
	
	<!-- ************** Non uGUI Entities **************** -->
	
	<element name="Movie" type="planet:Movie"/>
	<complexType name="Movie">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="hasAlpha" type="boolean" use="required" />
				<attribute name="looping" type="boolean" use="required" />
				<attribute name="resourcePath" type="string" use="required" />
				<attribute name="color" type="planet:color" use="optional" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Prefab" type="planet:Prefab" />
	<complexType name="Prefab">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="name" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>
	
	<element name="Table" type="planet:Table"/>
	<complexType name="Table">
		<complexContent>
			<extension base="planet:ScrollRect">
			</extension>
		</complexContent>
	</complexType>
	
	
	<element name="AspectFit" type="planet:AspectFit"/>
	<complexType name="AspectFit">
		<complexContent>
			<extension base="planet:GameObject">
				<attribute name="contentSize" type="planet:vec2" use="optional" default="0,0" />
			</extension>
		</complexContent>
	</complexType>

</schema>
